<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <style>
    a{
      text-decoration: none;
    }
    </style>
  </head>
  <body>
      
    <p> 你当前正在访问<%= title %> </p>
    <a href="http://127.0.0.1:3000">返回首页</a>
    <a href="http://127.0.0.1:3000/channel/news">news</a>
    <a href="http://127.0.0.1:3000/channel/sport">sport</a>
    <a href="http://127.0.0.1:3000/channel/music">music</a>
  </body>
</html>